<h1>A Crash Course in API Usage</h1>

<p class="lead">We will be using an API developed by Riot Games to access data from the game League of Legends!</p>

<br>

<h3>But first, a brief history...</h3>

<p>In this guide I hope to teach you a few new things you can do with JavaScript and API calls. But first, a brief history on Riot Games and League of Legends.</p>

<p>League of Legends was developed by Riot Games in 2009. It was inspired by a Warcraft III mod, Defense of the Ancients. League of Legends pits 5 players against 5 other players in a match to see who can destroy the other's base first. Most matches last approximately 30-35 minutes, but can end in as little as 20 minutes or stretch out to over an hour. The game is fiercely competitive by nature.</p>

<p>This game is extremely popular. In 2015 some 27 million people played at least one game per day. Riot Games rakes in $4.1 million per day in microtransactions or $123 million per month or $1.4 billion per year!</p>

<p>Please, use the links above to navigate through the guide!</p>

<p class="text-center">
    <a href="/page1">Next Page <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
</p>