<h1>Closing Thoughts</h1>
<p class="lead">Saying and Doing are Completely Different</p>

<h3>I Learned a LOT</h3>
<p>this project helped me learn a lot. Besides calling to API, I had to refresh my skills on making http requests, parsing response bodies, and linking node with handlebars and express. It was quite a journey but I am happy to have gone on it.</p>

<h3>API's are <i>Really</i> Awesome</h3>
<p>I did not realize the power of APIs until I undertook this assignment. They are powerful to both the developer and the provider. A developer and link multiple calls across multiple APIs to create new and beautiful sites that user's can interact with in creative ways. The provider stands to benefit too; they can see what API calls are popular, what information is valuable to their developer, and which information may not be worth providing.</p>

<p>I hope to on day finish the web page that I introduced in this project - a site that updates itself weekly to pull in and share a list of free to play champions!</p>

<p class="text-center">
    <a href="/page4"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Previous Page</a>
</p>