<h1>GET and POST Checker</h1>
<h3>By: John Fitzpatrick</h3>
<table>
  <thead>
    <th>Link</th>
    <th>Method</th>
    <th>Data</th>
    <th>Difficulty</th>
  </thead>

  <tbody>
    <tr>
      <td><a href="/">Working Link</a></td>
      <td>Home Page</td>
      <td>Not applicable</td>
      <td>Easy</td>
    </tr>

    <tr>
      <td><a href="/get">Send GET</a></td>
      <td>GET</td>
      <td>Name, age, address</td>
      <td>Moderate</td>
    </tr>

    <tr>
      <td><a href="/post">Send POST</a></td>
      <td>POST</td>
      <td>Name, DOB, SSN</td>
      <td>Difficult</td>
    </tr>

    <tr>
      <td><a href="/free-money">Broken Link</a></td>
      <td>404 Error</td>
      <td>Address Error</td>
      <td>Easy</td>
    </tr>

    <tr>
      <td><a href="/500">Server Meltdown</a></td>
      <td>500 Error</td>
      <td>Server Error</td>
      <td>Difficult</td>
    </tr>
  </tbody>
</table>
